<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h2>Edit Your Chat</h2>
    <form action="/chats/<%= user._id %>?_method=PUT" method="post">
    <p>From: <i><%=user.from%></i></p>
    <textarea name="msg" id=""><%=user.msg%></textarea>
    <p>To: <%=user.to%></p>
        <button>Update</button>
    </form>
</body>
</html>